.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}

.aboutUs {
  direction: rtl;
}
.aboutUs .section1 .inVideo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutUs .section1 .inVideo video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutUs .section1 .inVideo .playbtn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.aboutUs .section2 {
  display: flex;
  padding: 0 80px 0 22px;
}
.aboutUs .section2 h1 {
  font-family: IRANYekan;
  font-size: 36px;
  font-weight: 900;
  line-height: 62.18px;
  text-align: right;
  margin: 40px 0 20px 0;
}
.aboutUs .section2 .para p {
  font-family: IRANYekan;
  font-size: 24px;
  font-weight: 700;
  line-height: 41.45px;
  text-align: right;
}
.aboutUs .section2 .rSide {
  width: 58.8125vw;
}
.aboutUs .section2 .lSide {
  width: 41.1vw;
  align-self: flex-end;
}
.aboutUs .section2 .lSide .imgS {
  margin-right: -100px;
}
@media only screen and (max-width: 1947px) {
  .aboutUs .section2 .lSide .imgS {
    margin-right: -80px;
  }
}
@media only screen and (max-width: 1445px) {
  .aboutUs .section2 .lSide .imgS {
    margin-right: -60px;
  }
}
.aboutUs .section2 .lSide .imgS img {
  width: 100%;
}

.callUs {
  direction: rtl;
}
.callUs .callContainer {
  margin-top: 240px;
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  align-items: end;
  padding: 0 80px;
}
.callUs .callContainer .rSide {
  width: 50%;
}
.callUs .callContainer .rSide .imgS img {
  width: 100%;
}
.callUs .callContainer .lSide {
  width: 50%;
}
.callUs .callContainer .lSide .callNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}
.callUs .callContainer .lSide .callNumber p {
  font-family: IRANYekan;
  font-size: 24px;
  font-weight: 700;
  line-height: 41.45px;
  text-align: right;
}
.callUs .callContainer .lSide .callNumber a {
  text-decoration: none;
  color: black;
  font-family: IRANYekan;
  font-size: 36px;
  font-weight: 900;
  line-height: 62.18px;
  text-align: right;
}
.callUs .callContainer .lSide .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.callUs .callContainer .lSide .social p {
  font-family: IRANYekan;
  font-size: 24px;
  font-weight: 700;
  line-height: 41.45px;
  text-align: right;
}
.callUs .callContainer .lSide .social ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.callUs .callContainer .lSide .social ul a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3019607843);
}

.coursesCat {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.coursesCat .swiper-slide-active {
  z-index: 3;
}
.coursesCat .cta {
  padding: 12% 0;
}
.coursesCat .cta__slider-wrapper {
  position: relative;
  width: 100%;
  float: left;
  height: 100vh;
}
.coursesCat .cta__slider-wrapper .block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.coursesCat .cta__slider {
  min-height: 50vh;
}
.coursesCat .cta__slider .swiper-slide {
  overflow: hidden;
}
.coursesCat .cta__slider-arrows {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.coursesCat .cta__slider-arrow {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
.coursesCat .cta__slider-arrow.cta__slider-arrow--previous {
  left: 0;
}
.coursesCat .cta__slider-arrow.cta__slider-arrow--next {
  left: 50%;
}
.coursesCat .cta__slider-item {
  position: relative;
}
.coursesCat .cta__slider-item .media-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.coursesCat .cta__slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.coursesCat .cta__slider-counter {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 20px 40px;
  color: #ffffff;
}
.coursesCat .cta__cta {
  padding-top: 12%;
  max-width: 480px;
}
.coursesCat .swiper-slide .container {
  padding: 0;
  width: 100%;
}
.coursesCat .progressContainer {
  height: 74.388vh;
  display: flex;
  position: absolute;
  z-index: 10;
  right: 0;
  direction: rtl;
  right: 75px;
  bottom: 5vh;
  align-items: center;
}
.coursesCat .progressContainer .progresBar {
  height: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  position: relative;
}
.coursesCat .progressContainer .progresBar span {
  display: block;
  width: 1px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 1s ease;
}
.coursesCat .progressContainer ul {
  transform: translateY(-5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.coursesCat .progressContainer ul li {
  position: relative;
  transform: translateX(6.5px);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.8s ease;
}
.coursesCat .progressContainer ul li span {
  margin-right: 17px;
  font-family: IRANYekan;
  font-size: 24px;
  font-weight: 700;
  line-height: 41.45px;
  text-align: center;
  color: white;
}
.coursesCat .progressContainer ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s ease;
  border: 1px solid white;
}
.coursesCat .progressContainer ul .activeBar::before {
  background-color: white;
}
.coursesCat .progressContainer ul .activeBar {
  opacity: 1;
}/*# sourceMappingURL=m-style.css.map */