html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-y: visible;
  height: auto;
  overflow-x: hidden !important;
  margin: 0;
  direction: ltr;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  direction: rtl;
  font-family: "IRANYekan";
}
body.Dark {
  background-color: #000000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover,
a:focus,
a:active,
a:focus:active,
a:active:focus,
button:hover,
button:focus,
button:active,
button:focus:active,
button:active:focus,
input:hover,
input:focus,
input:active,
input:focus:active,
input:active:focus,
select:hover,
select:focus,
select:active,
select:focus:active,
select:active:focus,
textarea:hover,
textarea:focus,
textarea:active,
textarea:focus:active,
textarea:active:focus {
  text-decoration: unset;
  box-shadow: unset;
  outline: unset;
}

@font-face {
  src: url("../fonts/Qs_Iranyekan extrablack.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../fonts/Qs_Iranyekan extrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/Qs_Iranyekan extrablack.woff2") format("woff2"), url("../fonts/Qs_Iranyekan extrablack.woff") format("woff"), url("../fonts/Qs_Iranyekan extrablack.ttf") format("truetype");
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Qs_Iranyekan bold.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../fonts/Qs_Iranyekan bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Qs_Iranyekan bold.woff2") format("woff2"), url("../fonts/Qs_Iranyekan bold.woff") format("woff"), url("../fonts/Qs_Iranyekan bold.ttf") format("truetype");
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
}

* {
  font-family: "IRANYekan";
}

header.Header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0px;
  position: fixed;
  left: 0;
  z-index: 999;
  top: 0;
}
header.Header > nav.Menu-container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 10px 40px;
}
@media only screen and (max-width: 800px) {
  header.Header > nav.Menu-container {
    display: none;
  }
}
header.Header .L-Menu,
header.Header .R-Menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.Header .Menu-link {
  width: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 34.55px;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  header.Header .Menu-link {
    font-size: 15px;
  }
}
header.Header .Logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.Header .Logo a {
  width: auto;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 800px) {
  header.Header .Mobile-Menu {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  header.Header nav.navM {
    margin-left: auto;
    margin-right: 28px;
    margin-top: 16px;
  }
  header.Header .Mlogo {
    position: relative;
    z-index: 9;
  }
  header.Header .Mobile-Menu {
    width: 100vw;
    position: fixed;
    z-index: 88;
    display: flex;
    justify-content: space-between;
  }
  header.Header #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  header.Header #menuToggle a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  header.Header #menuToggle a:hover {
    color: #FF7B00;
  }
  header.Header #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #FF7B00;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  header.Header #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  header.Header #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  header.Header #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  header.Header #menuToggle input:checked ~ span {
    opacity: 1;
    background: #FF7B00;
  }
  header.Header #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header.Header #menu {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    gap: 0.8em;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header.Header #menu li {
    padding: 10px 0;
    font-size: 22px;
    color: #fff;
  }
  header.Header .Menu-link {
    color: #fff;
    font-size: 25px;
  }
  header.Header #menuToggle input:checked ~ ul {
    transform: none;
  }
  header.Header #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FF7B00;
  }
  header.Header #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}
@media only screen and (max-width: 500px) {
  header.Header .Menu-link {
    color: #fff;
    font-size: 15px;
  }
}

footer.Footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5019607843);
  margin-top: 5em;
}
@media only screen and (max-width: 800px) {
  footer.Footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
footer.Footer .Left {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  margin-right: auto;
}
@media only screen and (max-width: 800px) {
  footer.Footer .Left {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
}
footer.Footer .Left .Logo {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.Footer .Left span {
  font-size: 20px;
  font-weight: 400;
  line-height: 34.55px;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  footer.Footer .Left span {
    font-size: 10px;
  }
}
footer.Footer .Right {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
@media only screen and (max-width: 800px) {
  footer.Footer .Right {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
}
footer.Footer .Right .Socilas {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
footer.Footer .Right .Socilas .Item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer.Footer .Right .Socilas a {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main-style.css.map */