.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}
.aboutUs {
  direction: rtl;
  .section1 {
    .inVideo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      video {
        width: 100%;
        object-fit: cover;
      }
      .playbtn {
        position: absolute;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
  .section2 {
    display: flex;
    padding: 0 80px 0 22px;
    h1 {
      font-family: IRANYekan;
      font-size: 36px;
      font-weight: 900;
      line-height: 62.18px;
      text-align: right;
      margin: 40px 0 20px 0;
    }
    .para {
      p {
        //styleName: 24/b;
        font-family: IRANYekan;
        font-size: 24px;
        font-weight: 700;
        line-height: 41.45px;
        text-align: right;
      }
    }
    .rSide{
        width: 58.8125vw;
    }
    .lSide{
        width: 41.1vw;
        align-self: flex-end;
        .imgS{
            margin-right: -100px;
            @media only screen and (max-width: 1947px) {
                margin-right: -80px;
            }
            @media only screen and (max-width: 1445px) {
                margin-right: -60px;
            }
            img{
                width: 100%;
            }
        }
    }
  }
}
